#google_translate_element{
    position: fixed;
    bottom:0.4rem;
    justify-content: center;
    background-color: #CD222D;
    margin-bottom: 1rem;
    width: 100%;
}
body{
    padding: 0 0 5em 0 ;
}