#google_translate_element{
    position: fixed;
    bottom:0.4rem;
    justify-content: center;
    background-color: #CD222D;
    margin-bottom: 1rem;
    width: 100%;
}
body{
    padding: 0 0 5em 0 ;
}

.goog-te-combo{
    background-color: #CD222D;
    color: white;
    border: none;
}

.translate{
    padding-left: 1rem;
}