

.button-google {
    margin: 1rem;
    display: flex;
    align-items: center;
}
.button-login {
    margin: 0 0 1rem;
    color: #cd222c;
    font-weight: 500;
}
.google{
    margin:0.2rem;
    height: 2rem;
    width: 2rem;
}

.buttons-login{
    display: flex;
    justify-content: end;
    flex-direction: column;

}