
.form {
    display: flex;
    align-items: center;
}

.button-google {
    margin: 1rem;
    display: flex;
    align-items: center;
}
.button-login {
    margin: 0 0 0.5rem;
}

.d-flex.justify-content-between.mb-3 {
    display: flex;
    flex-direction: column;
    align-content: end;
}
