.nav{
    background-color: #CD222D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;

}

.footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;

}

.LogoFooter{
    width: 15rem;
    margin: 0;
    padding: 0.5rem;
    align-items: center;
}

