.send-message {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 50px;

}

.send-message input {
  flex-grow: 1;
  padding: 8px;
  margin-right: 10px;
}

.send-message .file-input-container {
  display: flex;
  align-items: center;
}

.send-message .file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  opacity: 0;
  cursor: pointer;

}

.sendd {
  background-color: #CD222D;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}


.icon-clip{
  width: 40px;
}
.icon-send{
  width: 40px;
}

