.send-message {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 50px;
}

.send-message input {
  flex-grow: 1;
  padding: 8px;
  margin-right: 10px;
}

.send-message .file-input-container {
  position: relative;
  overflow: hidden;
}

.send-message .file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;

}

.send-message button {
  background-color: #CD222D;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.sendd{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.3rem;
}

.icon-send{
  margin-top: 0;
}

.image-preview{
  display: flex;
  align-items: center;
  width: 10rem;
  margin-top: 0;
  margin-right: 0.5rem;
}

@media (max-width: 515px){
  .sendd{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin-right: 0.3rem;
    margin-left: 0.2rem;
  }
  .image-preview{
    display: flex;
    align-items: center;
    width: 7rem;
    margin-top: 0;
    margin-right: 0.5rem;
  }
  .send-message input {
    width: 50%;
    flex-grow: 1;
    padding: 8px;
    margin-right: 5px;
  }
}
