.d-grid.gap-2.btnsVL{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    max-width: 15rem;
    align-content: center;
    margin-top: 1rem;
    background-color: white;
}

.Titles{
    font-size: 2rem;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    

}

.btn.btn-danger.btn-lg {
    width: 15rem;
    margin-top: 1rem;

}

.btns {
    width: 15rem;
}


.o-laboral {
    margin-top: 1rem;
}