.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;

}

.btns {
    background-color: #CD222D;
    width: 15rem;
}

.btnsVL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.o-laboral {
    margin-top: 1rem;
}

.avatar {
}