/* Welcome.css */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
  }
  
  .welcome-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .welcome-image {
    display: flex; /* Add display:flex to make items inside the container flex items */
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    margin-bottom: 20px;
  }
  
  .img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .arrow-button {
    position: relative;
    background-color: #CD222D;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .arrow-button:hover {
    background-color: #600016;
  }
  
  /* Adjust button position */
  .arrow-button-container {
    margin-top: 20px;
  }
  
